<%= form_tag charges_path do %>
    <article>
        <label class="amount">
            <span>Amount : $3.00</span>
        </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
          
            data-name="MyShop"
            data-key="pk_live_h3IAnPyNABlfgHaXEvitSFQF"
            data-description="A month's subscription"
            data-amount="300">
      
    </script>
<% end %>
